@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 700;
}
body{
    display: flex;
    justify-content: center;
  
}
.container {
    display: flex;
    flex-direction: column;
    height: 380px;
    min-width:350px;
    transform: translate(0%,20%);
    background-color: black;
    border-radius: 15px;
}
input[type='text']{
    width: 94%;
    margin: 10px 10px 0 10px;
    height: 50px;
    outline: none;
    text-align: right;
    background-color: black;
    border: 0px;
    color: white;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,minmax(60px,auto));
    gap: 3px;
    margin: 0 10px;
}
button{
    border-radius: 10px;
    background-color: #262834;
    border: none;
    color: white;
    cursor: pointer;
}
#clear,#eql{
    grid-column: span 2;
}
.highlite{
    background-color: #56cbdb;
    color: #262834 ;
}